*:focus {
	outline: 0;
}

#page{
	overflow-y: hidden !important;
}
h3 {
	font-size: 40px;
	text-align: center;
    color: white;
	background: transparent;
}
form#contact-form{
	background: transparent;
}
h4{
    width: 50% !important;
    font-size: 27px;
    text-align: center;
    margin: 40px 0 0 25%;
    font-weight: 900;
}

.container {
	background: white;
    text-align: center;
	padding: 12px 24px 24px 24px;
	border-radius: 15px;
	width: 80%;
	box-shadow:0px 30px 78px -47px black;
    -webkit-box-shadow:0px 30px 78px -47px black;
    -moz-box-shadow:0px 30px 78px -47px black;
}
#main{
	padding-left: 85px;
}

label {
	font-size: 20px;
	margin-left: 12px;
    font-weight: 400;
	color: #333;
	text-align: left;
	background:transparent;
}


input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background: transparent;
	color: #333;
}


input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border-bottom: 4px solid #333;
	background: rgba(255, 255, 255, 0.11);

}


input[type=submit] {
	border: none;
	display: block;
    color: white;
    margin: 15px auto;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    background-color: #333;
    cursor: pointer;
}

input[type=submit]:focus {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}


input[type=submit]:hover {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}

.center {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: transparent;
}

.g-recaptcha.brochure__form__captcha {
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px){
    button, input, optgroup, select, textarea {
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		width: 100% !important;
	}
	h3{
		color: #333;
		font-size: 25px;
	}

	.container-form{
		padding: 20px 0 0 0 !important;
	}

	input[type=text], input[type=number], input[type=file] textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		background: transparent;
		color: white;
	}
	.container{
		width: 135%;
	}
	section.contenido.wrapper {
		width: 74%;
	}
}

#breadcrumbs{
    text-align: center;
    padding-bottom: 50px;
}

.fas.fa-arrow-circle-left{
	position: fixed;
	font-size: 30px;
	left: 200px;
	top: 20px;
	color: #333;
  }

  .fas.fa-arrow-circle-left:hover{
	  color: rgb(95, 95, 95);
  }