li{
    list-style:none;
    display: block;
    margin: 0 auto;
}

.cuenta-item{
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 35px;
    
}


#main{
    overflow-y: auto !important;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    background:transparent !important;
    /*color: transparent !important;*/
    content: 'sdads';
}

label{
    padding: 25px;
    width: 120px;
}

input[type="submit"]{
    display: block;
    margin: 0 auto;
}

#dar-de-baja{
    border: none;
    display: block;
    color: white;
    /* margin: 15px auto; */
    margin-left: 200px;
    height: 50px;
    width: 200px;
    border-radius: 48px;   
    cursor: pointer;
    border: 2px solid #333;
    /* background: transparent !important; */
    background: #333;
    font-weight: bold;
    transition: ease all 0.2s;
}

#dar-de-baja:hover{
    background: rgb(248, 52, 52) !important;
    transition: ease all 0.2s;
}
table{
    border: 2px dashed white;
}

table.table-cuenta {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 2px dashed white;
}

th, td{
    padding: 20px;
    font-weight: bold;
}

tbody tr{
    transition: ease 0.3s;
    border-bottom: 2px dashed white;
}

/* tbody tr:hover{
    color: white;
    transition: ease 0.3s;
} */

thead{
    background: rgba(51, 51, 51, 0.61);
    border: 2px dashed white;
    color: white;
}

thead th:nth-child(1) {
    width: 40%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 40%;
}

thead th:nth-child(4) {
    width: 20%;
}
thead th:nth-child(5) {
    width: 40%;
}
thead th:nth-child(6) {
    width: 20%;
}
thead th:nth-child(7) {
    width: 20%;
}

.tabla-libros{
    text-align: center;
    padding-bottom: 100px;
}


i.fas.fa-chevron-right {
    padding: 15px;
}

#flecha, #flecha-reservas{
    transition: ease 200ms;


}

input[type=text], input[type=number], input[type=file] textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: transparent;
    color: black;
    background-color: white;

}


input[type=text]:focus,input[type=number]:focus, input[type=file]:focus, textarea:focus {
    border-bottom: 4px solid yellow;
    background: rgba(255, 255, 255, 0.11);
}

input[type=submit] {
	border: none;
	display: block;
    color: white;
    margin: 15px auto;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    background-color: #333;
    cursor: pointer;
}

input[type=submit]:focus {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}


input[type=submit]:hover {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}
#breadcrumbs{
    text-align: center;
    padding-bottom: 50px;
}

.fas.fa-arrow-circle-left{
    position: fixed;
    font-size: 30px;
    left: 200px;
    top: 20px;
    color: #333;
  }

.titulo-cuenta{
    text-align: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 300px;
    background-color: #fefefe;
    width: 60%;
    left: 300px;
    border: none;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    right: 21px;
    color: #333;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header .close{
      margin: 0px;
  }

  .modal-header h2{
      text-align: center;
      line-height: 3;
      width: 700px;
  }

  input#confirmar{
    border: none;
    display: block;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    border: 2px solid #333;
    background-color: #333;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  input#confirmar:hover{
    background: white;
    border: 2px solid #333;
    transition: all ease 0.5s;
    color: #333;
  
  }

  .confirmarPass:hover{
    transition: all ease 0.5s;
    background: rgb(87, 86, 86);
    color: white;
  }

  

  button#cancelar{
    border: 2px solid #333;
    display: block;
    color: #333;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    background-color: transparent;
    cursor: pointer;
    transition: all ease 0.5s;
}

button#cancelar:hover{
  background: #333;
  color: white;
  transition: all ease 0.5s;
}
  
  .modal-header {
      text-align: center;
    padding: 2px 16px;
    background-color: #fefefe !important;
    color: #333;
    justify-content: center;
  }
  
  .modal-body {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.body-info{
	margin-top: 25px;
	display: inline-block;
}

@media screen and (orientation: landscape) 
and (max-device-width: 1000px) {
    table.table-cuenta{
        width: 100%;
    }
    button#dar-de-baja{
        width: 50% !important;
    }
    input[type="text"]{
        width: 29% !important;
    }
}   

/* Modal datos personales */
.boton-modificar{
    display: block;
	margin: 0 auto;
	margin-top: 50px;
}

.modificar{
    border: 2px solid #333;
    display: block;
    color: white;
    background-color: #333;
    margin: 15px auto;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  .modificar-pass{
    border: 2px solid #333;
    display: block;
    color: white;
    background-color: #333;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    /* background-color: transparent; */
    cursor: pointer;
    transition: all ease 0.5s;
    margin: 15px 22%
  }

  .modificar:hover, .modificar-pass:hover{
    transition: all ease 0.5s;
    background: rgb(87, 86, 86);
    color: white;
  }

#modal-datos, #modal-contrasenia {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: absolute;
    bottom: 300px;
    background-color: #fefefe;
    width: 60%;
    left: 300px;
    border: none;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
  }
  
  /* The Close Button */
  .close-datos, .close-contrasenia {
    position: absolute;
    right: 20px;
    color: #333;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close-datos:hover,
  .close-datos:focus, .close-contrasenia:hover, .close-contrasenia-focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }s

  .modal-header .close-datos, .close-contrasenia{
      margin: 0px;
  }

  .modal-header h2{
      text-align: center;
      line-height: 3;
      width: 700px;
  }
  input#confirmarDatos:hover{
    transition: all ease 0.5s;
    background: rgb(87, 86, 86);
    color: white;

}
  input#confirmar{
    border: none;
    display: block;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    border: 2px solid #333;
    background-color: #333;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  input#confirmar:hover{
    background: white;
    border: 2px solid #333;
    transition: all ease 0.5s;
    color: #333;
  
  }

  button#cancelar-datos, button#cancelar-contrasenia{
    border: 2px solid #333;
    display: block;
    color: #333;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    background-color: transparent;
    cursor: pointer;
    transition: all ease 0.5s;
}

button#cancelar-datos:hover, button#cancelar-contrasenia:hover{
  transition: all ease 0.5s;
  background: rgb(87, 86, 86);
  color: white;
}
  
  .modal-header {
      text-align: center;
    padding: 2px 16px;
    background-color: #fefefe !important;
    color: #333;
  }
  
  .modal-body {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.pass__require{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	position: absolute;
	bottom: 25%;
  display: none;
	right: 40%;
	color: #222;
	width: 200px;
	font-size: 15px;
	font-weight: 400;
	box-shadow: 2px 2px 2px 1px rgb(27, 27, 27);
	animation-name: appear;
	animation-duration: 3s;
}

h3{
	font-size: 18px;
}

#passwordRe{
	outline: none
}

.valid {
	color: green;
  }
  
  .valid:before {
	position: relative;
	left: -15px;
	content: "\2705";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
	color: red;
  }
  
  .invalid:before {
	position: relative;
	left: -15px;
	content: "\274C";
  }

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 300; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 300px; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 1px solid black !important;
    background: #333!important;
    border-radius: 44px !important;
}

.page-item .page-link{
    background: transparent !important;
    border: none;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  transition: all ease 0.5s;
  background: rgb(87, 86, 86)!important;
  color: white;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginatep .paginate_button.disabled:active{
  border: 1px solid rgb(124, 124, 124) !important;
  background: rgb(107, 107, 107) !important;

}

