table.dataTable {
    margin: 0 auto;
    clear: both;
    margin-top: 0px;
    margin-left: 0px;
    
    
    }
    
    
    table.dataTable thead {
          /*background: linear-gradient(to right, #444, gray);*/
          background:#444;
          color: white;
          
        }
    
        table.dataTable th {
          position: static;
          width: 100%;
    
        }
    
        table.dataTable tr {
          width: 80%;
    
        }
    
        table.dataTable td {
          width: 80%;
          overflow-x: hidden;
    
        }
        .p
        .page-item.active .page-link {
        background-color: lightgrey !important;
        border: 1px solid black;
    }
    .page-link {
        /*color: white !important;
        background-color: #444 !important;*/
        color: black;
     
    }
    
    .dataTables_filter {
    text-align: left !important;
    }
    
    .dataTables_length{
    text-align: left !important;
    
    }