@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

html{
    scroll-behavior: smooth;
    height: 100%;
    background: #ADB7F5;
}

*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

section.contenido.wrapper{
  width: 100%;
  background: none;
}

/*SIDEBAR*/
#page {
    display: grid;
    place-content: left;
    width: 100%;
    height: 100%;
    grid-template-areas: "nav main"
                         "nav main";
    grid-template-rows: 50px 1fr ;
    grid-template-columns: 60px auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
  
#page > #sidebar {
    grid-area: nav;
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #333;
    color: #222;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}
  
#page > #main {
    grid-area: main;
    background: #ADB7F5;
    width: 100%;
    padding: 16px;
    padding-right: 0px;
    padding-bottom: 150px;
    transition: padding-left 0.5s;
    overflow-y: hidden;
    overflow-x: hidden;
}

section#page{
    overflow: hidden;
}
/*Fin SIDEBAR*/

/***** Wrapper *****/
 
.wrapper {
    display: block;
}
 
/***** Sidebar *****/

 
.sidebar.active {
    left: 0;
    overflow: hidden;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}
 
.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: rgb(170, 170, 170);
    text-decoration: none;
}
 
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}
 
.sidebar ul li a i {
    /* margin-right: 10px; */
    padding-right: 10px;
    font-size: 25px;
    color: grey;
    text-align: left;
    width: 25%;
}
 
.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;;
}
 
.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}
 
.sidebar ul ul li.active > a {
    background: #555;
}
 
.sidebar a[data-toggle="collapse"] {
    position: relative;
} 
 
.sidebar .dropdown-toggle:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.menu-item{
    display: none;
    position: fixed;
}
/***** Content *****/


a{
    color: black;


}
.overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}
 
.overlay.active {
    display: block;
    opacity: 1;
}

.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}
 
.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    border: 0;
    text-indent: -999999px;
}

.logo a img#logo{
    position: absolute;
    top: 0;
    left: -20px;
    width: 100px;
    height: 100px;
}

i.fas.fa-sign-in-alto-top{
    font-size: 25px;
    z-index: 100;
}

.fas.fa-pencil-alt{
    color: black;
    font-size: 18px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
 
    .sidebar .logo a {
        background-repeat: no-repeat !important;
        background-size: 172px 34px !important;
    }

/* Boton dudas */

.tooltip{
    position: fixed;
    display: inline-block;
}

.buttonInfo{
    height: 60px;
    width: 60px;
    z-index: 99;
    background:transparent ;
    border: solid 1px rgb(255, 255, 255);
    box-shadow: -3px 3px 5px;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 10px;
    cursor: pointer;
  }


.buttonInfo:hover{
    background: rgba(209, 209, 209, 0.336);
    transform: scale(1.1);
}
 
.tooltip .tooltiptext {
    visibility: hidden;
    top: -5px;
    right: 110%;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  
  .tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
  }
   
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .fas.fa-question{
    color: white;
    background:transparent;
    font-size: 25px;
  }
}

/* Paneles inicio */

.container-paneles{
    display: flex;
    width: 100%;
    height: 100%;
    justify-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 100px;
    margin-top: 50px;
}

.card{
    width: 350px;
    height: 350px;
    background-color: #383838;
    text-align: center;
    color: white;
}

.card:hover{
    transform: scale(1.05);
    transition: ease 0.5s;
    box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);

}

.info-paneles{
    padding: 25px;
}

div#clockdate{
    background-color: white;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
}

.clockdate-wrapper {
    justify-content: center;
    align-self: center;
    background-color: #333;
    padding:20px;
    max-width: 300px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:12%;
    transition: 0.4s;
}

.clock{
    background-color:white;
    font-family: sans-serif;
    font-size:45px;
    text-shadow:0px 0px 1px rgb(27, 27, 27);
    color:rgb(27, 27, 27);
    transition: 0.4s;
    border-radius: 5px;
}

.clock span {
    color:#888;
    text-shadow:0px 0px 1px white;
    font-size:20px;
    position:relative;
    top:-27px;
    left:-10px;
    transition: 0.4s;
}

.date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:rgb(27, 27, 27);
    transition: 0.4s;
}

@media (max-width: 768px){
    #page > #main {
        grid-area: main;
        background: #ADB7F5;
        width: 100%;
        padding: 16px;
        padding-right: 0px;
        padding-bottom: 0px;
        transition: padding-left 0.5s;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

#breadcrumbs{
    display: block;
    margin: 0 auto;
}

.fas.fa-arrow-circle-left{
    position: fixed;
    font-size: 30px;
    left: 200px;
    top: 20px;
    color: #333;
  }

  .fas.fa-arrow-circle-left:hover{
    color: rgb(95, 95, 95);
}
