
section#page{
    /* width: 100%; */
    overflow: hidden;
}

.filtros-busqueda{
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding-left: 0px !important;
    left: 0px;
    top: 0px;
    background-color: #333;
    border-bottom: 4px solid #222;
    z-index: 99;
}


h3 {
    background-color: transparent;
	font-size: 40px;
	text-align: center;
    color: white;
    padding-bottom: 70px;
}

.main-libros{
    background-color: transparent;
    padding-top: 70px;
    padding-left: 85px;
}

.grid-libros{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

div#libro-prueba{
    position: relative;
    margin: 25px;
    border-radius: 5px;
    background-color: transparent;
    /* border: 1px solid black; */
    width: 150px;
    height: 250px;
    align-self: center;
    justify-self: center;
}

div#libro-prueba:hover{
    overflow: hidden;
    transition: ease 0.3s;
    transform: scale(1.05);
    box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
}

.libro-prueba-sinStock{
    position: relative;
    margin: 25px;
    border-radius: 5px;
    mix-blend-mode: luminosity;
    border: 1px solid white;
    width: 150px;
    height: 250px;
    align-self: center;
    justify-self: center;
}

.imagen-libro{
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    transform: translateX(50%);
    opacity: 1;
    transition: all 500ms;
}

.fade{
    transform: translateX(-50%) !important;
    opacity: 1.0;
    transition: all 500ms;
}

.informacion{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    border-top: 2px solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

p.libro-info{
    margin: 0 0 0 7px !important;
    font-size: 14px;
    width: 86% !important;
    padding: 5px 0 0 0;
    background-color: transparent;
    font-weight: bold;
    color: #222;
}

.etiqueta{
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: 3px;
    width: 100px;
    height: 20px;
}

p.etiqueta-info{
    font-size: 15px;
    width: 100%;
    margin-left: 7px;
    background-color: transparent;
    color: black;
}

.libro-prueba-sinStock:hover{
    overflow: hidden;
    transition: ease 0.3s;
    transform: scale(1.05);
    mix-blend-mode: luminosity;
}

.busqueda{
    position: absolute;
    background-color: transparent;
    left: 200px;
    top: 15px;
}
.filtros{
    position: absolute;
    right: 250px;
    top: 15px;
    background-color: transparent;
}
.fas.fa-filter, .fas.fa-search{
    z-index: 99;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 25px;
}

.subir-libro{
    background: transparent;
    text-align: left;
    margin-left: 83px;
}

.form-libro{
    background: transparent;
}

label {
	font-size: 20px;
	margin-left: 12px;
    font-weight: 400;
	color: #333;
	background:transparent;
    display: inline-block;
    width: 170px;
    text-align: left;
}


input[type=text], input[type=number], input[type=file] textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background: transparent;
	color: white;
}


input[type=text]:focus,input[type=number]:focus, input[type=file]:focus, textarea:focus {
	border-bottom: 4px solid yellow;
	background: rgba(255, 255, 255, 0.11);
}

input[type=submit] {
	transition: ease 0.5s;
	width: 130px;
	background-color: rgba(51, 51, 51, 0.808);
	height: 50px;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: none;
	border-bottom: 4px solid #222;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 12px 24px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
    font-weight: 400;
	font-size: 18px;
}

input[type=submit]:focus {
	background: yellow;
	color: whitesmoke;
}


input[type=submit]:hover {
	border: none;
	border-bottom: 4px solid #333;
	background: yellow;
	color: #333;
	transition: ease 0.5s;
}
input#portada{
    background: transparent;
}

.center{
    background: transparent;
    text-align: center;
}

.portada-libro{
    border: none;
}

.tabla-libros{
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    text-align: center;
    padding: 50px;
}

.container-form{
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    text-align: center;
    padding: 50px;
    width: 85%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;   
}


th, td{
    padding: 20px;
}

tbody tr{
    border-bottom: 2px solid #222;
    transition: ease 0.3s;
}

tbody tr:nth-child(odd) {
    background-color: gray;
  }

tbody tr:nth-child(even) {
    background-color: #D6EEEE;
}

tbody tr:hover{
    background-color: rgb(206, 206, 206);
    color: #222;
    transition: ease 0.3s;
}

thead{
    color: white;
    background: #333;
}

thead th:nth-child(1) {
    width: 40%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 40%;
}

thead th:nth-child(4) {
    width: 20%;
}
thead th:nth-child(5) {
    width: 40%;
}
thead th:nth-child(6) {
    width: 20%;
}
thead th:nth-child(7) {
    width: 20%;
}

.separador{
    border: 2px solid #333;
    width: 200px;
    margin: 30px 0 50px 16px;
}

.fas.fa-pencil-alt{
    color:white; 
    font-size: 25px;   
}

i.far.fa-trash-alt {
    font-size: 25px;
    color: white;;
}

i.far.fa-trash-alt.tbody-icon{
    font-size: 30px;
    outline: none;
    border: none;
    background: none;
    color: #333;
    transition: ease 0.5s;
    cursor: pointer;
}

i.fas.fa-pencil-alt.tbody-icon{
    font-size: 30px;
    outline: none;
    border: none;
    background: none;
    color:#333;
    transition: ease 0.5s;
    cursor: pointer;
}

button{
    background: transparent;
    border: none;
}

i.far.fa-trash-alt.tbody-icon:hover{
  color: rgb(83, 83, 83);
  transition: ease 0.5s;
}

i.fas.fa-pencil-alt.tbody-icon:hover{
    color:rgb(114, 114, 114) ;
    transition: ease 0.5s;
}

input#campo-busqueda{
    position: absolute ;
    border-radius: 0px ;
    color: white;
    border: none ;
    border-bottom: 2px solid white ;
    width: 170px ;
    z-index: 100;
    top: -20px;
    left: 40px;
    display: none;
}

input#campo-busqueda:focus{
    color: white;
    outline: none;
    background: transparent;
    border-bottom: 3px solid white;
}

input#buscar{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    left: 220px;
    top: -10px;
    padding: 0px;
    display: none;
}
input#buscar:hover{
    background: white;
    
}

