
section#page{
    /* width: 100%; */
    overflow: hidden;
}

.filtros-busqueda{
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding-left: 0px !important;
    left: 0px;
    top: 0px;
    background-color: #333;
    border-bottom: 4px solid #222;
    z-index: 99;
}


h3 {
    background-color: transparent;
	font-size: 40px;
	text-align: center;
    color: white;
    padding-bottom: 70px;
}

.main-libros{
    background-color: transparent;
    padding-top: 70px;

}

.grid-libros{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#form-reservas{
    margin-top: 70px;
}

div#libro-prueba{
    position: relative;
    margin: 25px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
    width: 150px;
    height: 300px;
    align-self: center;
    justify-self: center;
}

.libro-prueba-sinStock{
    position: relative;
    margin: 25px;
    border-radius: 5px;
    mix-blend-mode: luminosity;
    border: 1px solid black;
    width: 150px;
    height: 250px;
    align-self: center;
    justify-self: center;
}

.imagen-libro{
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.informacion{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

p.libro-info{
    margin: 0 0 0 7px !important;
    font-size: 14px;
    width: 86% !important;
    padding: 5px 0 0 0;
    background-color: transparent;
    font-weight: bold;
    color: #222;
}

.etiqueta{
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: 3px;
    width: 100px;
    height: 20px;
}

p.etiqueta-info{
    font-size: 15px;
    width: 100%;
    margin-left: 7px;
    background-color: transparent;
    color: black;
}

.libro-prueba:hover{
    overflow: hidden;
    transition: ease 0.3s;
    transform: scale(1.05);
    mix-blend-mode: luminosity;
}

.libro-prueba-sinStock:hover{
    overflow: hidden;
    transition: ease 0.3s;
    transform: scale(1.05);
    mix-blend-mode: luminosity;
}

.busqueda{
    position: absolute;
    background-color: transparent;
    left: 200px;
    top: 15px;
}
.filtros{
    position: absolute;
    right: 250px;
    top: 15px;
    background-color: transparent;
}
.fas.fa-filter, .fas.fa-search{
    z-index: 99;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 25px;
}

#ingresar-reserva{
    width: 20%;
    text-align: center;
}
#ingresar-reserva:hover{
    transition: all ease 0.5s;
    background: rgb(87, 86, 86);
    color: white;
}

#ingresar-devolucion{
    width: 20%;
    text-align: center;
}
#ingresar-devolucion:hover{
    transition: all ease 0.5s;
    background: rgb(87, 86, 86);
    color: white;
}

.centrar-boton{
    text-align: center;
}

.form-libro{
    background: transparent;
}

label {
	font-size: 20px;
	margin-left: 15px;
    font-weight: 400;
	/* color: white; */
	background:transparent;
    display: inline-block;
    /* width: 100px; */
}

.label-reserva{
    color: #333;
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
}


input[type=text], input[type=number], input[type=file] textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	background: transparent;
	color: white;
}


input[type=text]:focus,input[type=number]:focus, input[type=file]:focus, textarea:focus {
	border-bottom: 4px solid yellow;
	background: rgba(255, 255, 255, 0.11);
}

input[type=submit] {
	border: none;
	display: block;
    color: white;
    margin: 15px auto;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    background-color: #333;
    cursor: pointer;
}

input[type=submit]:focus {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}


input[type=submit]:hover {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}

input#portada{
    background: transparent;
}

.center{
    background: transparent;
    text-align: center;
}

.portada-libro{
    border: none;
}

.tabla-libros{
    text-align: center;
    padding-bottom: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
    text-align: center;
    padding: 50px;
}

table {
    table-layout: fixed;
 /*   width: 100%;*/
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}

tbody tr{
    border-bottom: 2px solid #222;
    transition: ease 0.3s;
}

tbody tr:nth-child(odd) {
    background-color: gray;
  }

tbody tr:nth-child(even) {
    background-color: #D6EEEE;
}

tbody tr:hover{
    background-color: rgb(206, 206, 206);
    color: #222;
    transition: ease 0.3s;
}

thead{
    color: white;
    background: #333;
}

thead th:nth-child(1) {
    width: 40%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 40%;
}

thead th:nth-child(4) {
    width: 30%;
}
thead th:nth-child(5) {
    width: 60%;
}
thead th:nth-child(6) {
    width: 20%;
}
thead th:nth-child(7) {
    width: 10%;
}

.ingresar-reserva, .ingresar-devolucion{
    display: flex;
    margin-bottom: 50px;
}

.separador{
    border: 2px solid #333;
    width: 200px;
    margin: 30px 0 50px 16px;
}

.fas.fa-pencil-alt{
    color:white; 
    font-size: 20px !important;   
}

i.far.fa-trash-alt {
    font-size: 20px;
    color: white;;
}

i.far.fa-trash-alt.tbody-icon{
    font-size: 20px;
    outline: none;
    border: none;
    background: none;
    color: #333;
    transition: ease 0.5s;
    cursor: pointer;
}

i.fas.fa-pencil-alt.tbody-icon{
    font-size: 30px;
    outline: none;
    border: none;
    background: none;
    color:#333;
    transition: ease 0.5s;
    cursor: pointer;
}

button{
    background: transparent;
    border: none;
}

i.far.fa-trash-alt.tbody-icon:hover{
  color: rgb(83, 83, 83);
  transition: ease 0.5s;
}

i.fas.fa-pencil-alt.tbody-icon:hover{
    color:rgb(114, 114, 114) ;
    transition: ease 0.5s;
}

input#campo-busqueda{
    position: absolute ;
    border-radius: 0px ;
    color: white;
    border: none ;
    border-bottom: 2px solid white ;
    border-radius: 5px !important;
    width: 170px ;
    z-index: 100;
    top: -20px;
    left: 40px;
    display: none;
}

input#campo-busqueda:focus{
    color: white;
    outline: none;
    background: transparent;
    border-bottom: 3px solid white;
}

input#buscar{
    position: absolute !important;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    padding: 0px;
    display: none;
    left: 223px !important;
    top: -12px !important;
}
input#buscar:hover{
    background: white;
    
}
.wrapper-reserva{
    text-align: left;
    display: inline-block;
    margin-left: 40px;
}


input.reserva-libro{
    background-color: white;
    color: white;
    width: 35% !important;
    color: black;
}

input.reserva-libro:focus{
    outline: 1px solid black;
    color: black;
    border-radius: 5px !important;
    border-bottom: 3px solid black !important;
}

input.reserva-libro::placeholder{
    color: black
}

select.form-control{
    text-align: center;
    width: 30%;
    display: inline-block;
}

.container-form{
    padding: 25px;
    background: white;
    border-radius: 7px;
    position: absolute;
    top: 100%;
    display: none;
    margin: 0 auto;
    box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 30px -8px rgba(0,0,0,0.75);
}

.btnConfirmarReserva{
    background-color: #343A40; 
    color:white; 
    width: 160px; 
    height: 50px; 
    text-align:center;
    }
    
    .btnConfirmarReserva:hover{
      transition: all ease 0.5s;
      background: rgb(87, 86, 86);
      color: white;
    }
#close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-reserva{
      color: #333;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 1px solid black !important;
    background: #333!important;
    border-radius: 44px !important;
}

.page-item .page-link{
    background: transparent !important;
    border: none;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  transition: all ease 0.5s;
  background: rgb(87, 86, 86)!important;
  color: white;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginatep .paginate_button.disabled:active{
  border: 1px solid rgb(124, 124, 124) !important;
  background: rgb(107, 107, 107) !important;

}

#mailUsuario{
    width: 60% !important;
}