
section#page{
    /* width: 100%; */
    overflow: hidden;
}

.filtros-busqueda{
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding-left: 0px !important;
    left: 0px;
    top: 0px;
    background-color: #333;
    border-bottom: 4px solid #222;
    z-index: 99;
}


h3 {
    padding-top: 25px;
    background-color: transparent;
	font-size: 40px;
	text-align: center;
    color: #333;
    padding-bottom: 70px;
}

.botones-buscar-limpiar{
    display: inline-block;
}
#close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
  }
  
  #close:hover,
  #close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


label {
    font-size: 20px;
    margin-left: 12px;
    font-weight: 400;
    color: #333;
    background:transparent;
    display: inline-block;
    width: 10% !important;
    margin-right: 20px;
    text-align: left;
}

.main-libros{
    background-color: transparent;
    padding-top: 70px;

}

.grid-libros{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.busqueda{
    position: absolute;
    background-color: transparent;
    left: 200px;
    top: 15px;
}
.filtros{
    position: absolute;
    right: 250px;
    top: 15px;
    background-color: transparent;
}

.tabla-libros{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
    text-align: center;
    padding: 50px;
    margin-right: 35px;
}

.modal-usuarios{
    border: 2px solid #333;
    position: absolute;
    left: 3%;
    top: 50%;
    display: none;
    margin-left: 85px;
    width: 85%;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}

button.boton-agregar-libro {
    border: none;
    display: block;
    color: white;
    margin: 15px auto;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    background-color: #333;
    cursor: pointer;
}

.fas.fa-filter, .fas.fa-search{
    z-index: 99;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 25px;
}

.subir-libro{
    background: transparent;
    text-align: left;
}

.form-libro{
    background: transparent;
}


input[type=text], input[type=number], input[type=file] textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 50px;
    resize: vertical;
    background: transparent;
    color: white;
}


input[type=text]:focus,input[type=number]:focus, input[type=file]:focus, textarea:focus {
    border-bottom: 4px solid black;
    background: rgba(255, 255, 255, 0.11);
}

input[type=submit] {
	border: none;
	display: inline-block;
    color: white;
    margin: 15px auto;
    height: 50px;
    width: 200px;
    border-radius: 48px;
    background-color: #333;
    cursor: pointer;
}

input[type=submit]:focus {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
    -moz-box-shadow: 0px 30px 78px -47px black;
}


input[type=submit]:hover {
	box-shadow: 0px 30px 78px -47px black;
    -webkit-box-shadow: 0px 30px 78px -47px black;
}

.wrapper-libros {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

input#portada{
    background: transparent;
}

.center{
    background: transparent;
    text-align: center;
}

.portada-libro{
    border: none;
}

.tabla-libros{
    text-align: center;
    padding-bottom: 100px;
}

table {
    table-layout: fixed;
 /*   width: 100%;*/
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}

tbody tr{
    border-bottom: 2px solid #222;
    transition: ease 0.3s;
}

tbody tr:nth-child(odd) {
    background-color: gray;
  }

tbody tr:nth-child(even) {
    background-color: #D6EEEE;
}

tbody tr:hover{
    background-color: rgb(206, 206, 206);
    color: #222;
    transition: ease 0.3s;
}

thead{
    color: white;
    background: #333;
}

thead th:nth-child(1) {
    width: 40%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 40%;
}

thead th:nth-child(4) {
    width: 20%;
}
thead th:nth-child(5) {
    width: 40%;
}
thead th:nth-child(6) {
    width: 20%;
}
thead th:nth-child(7) {
    width: 20%;
}

.separador{
    border: 2px solid #333;
    width: 200px;
    margin: 30px 0 50px 16px;
}

.fas.fa-pencil-alt{
    color:white; 
    font-size: 25px;   
}

i.far.fa-trash-alt {
    font-size: 25px;
    color: white;;
}

i.far.fa-trash-alt.tbody-icon{
    font-size: 30px;
    outline: none;
    border: none;
    background: none;
    color: #333;
    transition: ease 0.5s;
    cursor: pointer;
}

i.fas.fa-pencil-alt.tbody-icon{
    font-size: 30px;
    outline: none;
    border: none;
    background: none;
    color:#333;
    transition: ease 0.5s;
    cursor: pointer;
}

button{
    background: transparent;
    border: none;
}

i.far.fa-trash-alt.tbody-icon:hover{
  color: rgb(83, 83, 83);
  transition: ease 0.5s;
}

i.fas.fa-pencil-alt.tbody-icon:hover{
    color:rgb(114, 114, 114) ;
    transition: ease 0.5s;
}

input#campo-busqueda{
    position: absolute ;
    border-radius: 0px ;
    color: white;
    border: none ;
    border-bottom: 2px solid white ;
    width: 170px ;
    z-index: 100;
    top: -20px;
    left: 40px;
    display: none;
}

input#campo-busqueda:focus{
    color: white;
    outline: none;
    background: transparent;
    border-bottom: 3px solid white;
}

input#buscar{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    left: 220px;
    top: -10px;
    padding: 0px;
    display: none;
}
input#buscar:hover{
    background: white;
    
}

#breadcrumbs{
    text-align: center;
    padding-bottom: 50px;
}

.fas.fa-arrow-circle-left{
    position: fixed;
    font-size: 30px;
    left: 200px;
    top: 20px;
    color: #333;
  }

  .fas.fa-arrow-circle-left:hover{
    color: rgb(95, 95, 95);
}